@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 4rem;
}
.header{  
    font-family: 'Roboto', sans-serif; 
    text-align: center;  
}  
.header p{  
    font-family: sans-serif; 
}  
div{
    margin-bottom: 2rem;
}